extends layout/base

append vars
	- title = cat.title
	- description = 'Описание'
	- body.classList = ['inner-page']
block content
	- var defaultLink = 'javascript:void(0);'
	.loader-section
		.polygon-loader
			- for(var i = 0; i < 6; i++)
				div
	include layout/partials/header
	.page-title-wrap
		.container
			.page-title
				.page-title__text
					| #{title}
			.page-submenu
				if tags
					each tag, index in tags
						.page-submenuItem
							a.page-submenuItem__link(href="/tag/" + tag._id)
								| #{tag.title}
	.main
		.container
			section.category-section.border-none
				.posts
					each catPost, index in catPosts
						.postsItem
							.postsItem__content
								.postsItem__title
									| #{catPost.title}
								.postsItem__author
									| Админ
								.postsItem__lead
									| #{catPost.title}
							.postsItem__image(style="background-image: url(/uploads" + catPost.uploads[0].path + ");")
							a.postsItem__link(href="/post/" + catPost.url)
			include layout/partials/footer
	include layout/partials/responsive-menu
