extends layout/base

append vars
	- title = post.title
	- description = 'Описание'
	- body.classList = ['inner-page', 'single-page']
block content
	- var defaultLink = 'javascript:void(0);'
	.loader-section
		.polygon-loader
			- for(var i = 0; i < 6; i++)
				div
	include layout/partials/header
	.page-title-wrap(style="background-color:" + color + ";")
		.container
			.single-page-title
				.single-page-title__category
					| #{post.category.title}
				.single-page-title__text
					| #{title}
	.main
		.container
			.default-section
				each image, index in post.uploads
					img(src="/uploads" + image.path)
				| !{post.content}
			include layout/partials/footer
	include layout/partials/responsive-menu
