footer
    .subscribe-section
        .subscribe
            .subscribeItem
                .subscribe__title
                    | Подпишись на рассылку
            .subscribeItem
                .subscribe__description
                    | Подписаться на еженедельную рассылку от ордена «Батенька, да вы трансформер» — каждую неделю мы учим вас выживать
            .subscribeItem
                .subscribe-form
                    .form-group
                        input(type="text" name="email" placeholder="Напишите свою эл. почту")
                    .btn-wrap
                        button(type="submit")
                            | Подписаться
    .copyright-section
        .copyright
            .copyright__text
                | &copy; IT News Group 2018
        .socials
            .socialsItem
                a.socialsItem__link.fa.fa-facebook(href=defaultLink)
            .socialsItem
                a.socialsItem__link.fa.fa-youtube(href=defaultLink)
            .socialsItem
                a.socialsItem__link.fa.fa-twitter(href=defaultLink)
            .socialsItem
                a.socialsItem__link.fa.fa-telegram(href=defaultLink)