if posts
    section.home-slider-section
        .home-slider.owl-carousel.owl-theme
            - var count = 0
            each post, index in posts
                - count++
                .home-sliderItem
                    .home-sliderItem__content
                        .home-sliderItem__category
                            | #{post.category.title}
                        .home-sliderItem__title
                            | #{post.title}
                        .home-sliderItem__author
                            | Админ
                        .home-sliderItem__lead
                            | #{post.content}
                    .home-sliderItem__image(style="background-image: url(/uploads" + post.uploads[0].path +");")
                    a.home-sliderItem__link(href="/post/" + post.url)
                if count > 5
                    - break