section.home-slider-section
    .home-slider.owl-carousel.owl-theme
        .home-sliderItem
            .home-sliderItem__content
                .home-sliderItem__category
                    | Начинающим
                .home-sliderItem__title
                    | Тест: какой язык программирования вам стоит выбрать для изучения?
                .home-sliderItem__author
                    | Админ
                .home-sliderItem__lead
                    | Новичкам бывает сложно разобраться в том, с какого языка программирования стоит начать. У каждого инструмента есть своя специализация, каждый язык лучше подходит для своих задач.
            .home-sliderItem__image(style="background-image: url(images/posts/juniors/j1.jpg);")
            a.home-sliderItem__link(href=defaultLink)
        .home-sliderItem
            .home-sliderItem__content
                .home-sliderItem__category
                    | Начинающим
                .home-sliderItem__title
                    | Подборка онлайн-ресурсов для тех, кто хочет научиться программировать
                .home-sliderItem__author
                    | Админ
                .home-sliderItem__lead
                    | Итак, вы решили научиться программировать. Вы слышали что-то о Swift, сидя поздно вечером в кафе, ваши друзья шепчутся о Node.js
            .home-sliderItem__image(style="background-image: url(images/posts/juniors/j2.png);")
            a.home-sliderItem__link(href=defaultLink)